APP_TIME_ZONE=
CONFIG_VALIDATION_ENABLED=

JWT_SECRET=
JWT_EXPIRATION=

DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_HOST_DOCKER=
DB_PORT=
MSSQL_PID=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_JPA_DATABASE_PLATFORM=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_JPA_SHOW_SQL=
SPRING_JPA_FORMAT_SQL=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_INTERNAL_BOOTSTRAP_SERVERS=
KAFKA_EXTERNAL_PORT=

VITE_API_BASE_URL=
VITE_BACKEND_PROXY_TARGET=
VITE_BACKEND_PROXY_TARGET_DOCKER=
